insmod part_gpt
insmod part_msdos
insmod all_video
terminal_input console
terminal_output console
if serial --unit=0 --speed=115200; then
	terminal_input --append console
	terminal_output --append console
fi
set timeout_style=menu
set timeout=0
set default=0
menuentry 'Ubuntu Linux ARM for Radxa Airbox Q900' {
	devicetree /boot/qcs9075-radxa-airbox-q900.dtb
	echo 'Loading Kernel...'
	linux /boot/Image panic=30 loglevel=8 rw rootwait=10 root=/dev/sda3 rootfstype=ext4
#	echo 'Loading Initramfs...'
#	initrd /initramfs-linux-mainline-aarch64.img
	echo 'Booting...'
}
